* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'PF Din Display Pro';
  src: url("../fonts/PFDinDisplayPro-Regular.eot");
  src: url("../fonts/PFDinDisplayPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Regular.woff") format("woff"), url("../fonts/PFDinDisplayPro-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Display Pro';
  src: url("../fonts/PFDinDisplayPro-Medium.eot");
  src: url("../fonts/PFDinDisplayPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Medium.woff") format("woff"), url("../fonts/PFDinDisplayPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Display Pro';
  src: url("../fonts/PFDinDisplayPro-Light.eot");
  src: url("../fonts/PFDinDisplayPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayPro-Light.woff") format("woff"), url("../fonts/PFDinDisplayPro-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

input {
  outline: 0;
  border: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  height: 16px;
  width: 16px;
  right: -18px;
  background: url(../img/svg/cross-black.svg) no-repeat;
  background-size: 100%;
}

button {
  padding: 0;
}

span {
  display: inline-block;
}

html {
  font-size: 16px;
  font-family: 'PF Din Display Pro';
}

a {
  color: var(--color-text-main);
  text-decoration: none;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

a:visited {
  color: var(--color-text-main);
}

a:hover {
  opacity: .7;
}

a.link > span {
  position: relative;
}

a.link > span::after {
  display: block;
  content: '___________________________________________________________________________________________________________________________';
  position: absolute;
  bottom: 0;
  height: 10px;
  left: 0;
  right: 100%;
  -webkit-transition: right .2s ease;
  transition: right .2s ease;
  line-height: 0;
  letter-spacing: -0.8px;
  -webkit-transform: translateY(-4px);
  transform: translateY(-2px);
  pointer-events: none;
  overflow: hidden;
  max-width: 100%;
  color: inherit;
}

a.link:hover > span::after {
  right: 0;
}

:root {
  --color-text-main:         #0B0A0A;
  --color-text-blue:         #00A7E1;
  --color-text-white:        white;
  --color-text-bardo:        #F32735;
  --color-text-air:          #BCBEC0;
  --color-background-gray:   #F5F5F5;
  --color-background-blue:   #00A7E1;
  --color-background-lblue:  #F4FBFF;
  --color-background-lbardo: #FEF4F5;
  --color-background-white:  white;
  --color-background-space:  #E8E8E8;
  --width-addr: 435px;
}

.bhidden {
  display: none !important;
}

body {
  background: var(--color-background-gray);
  min-height: 100vh;
  padding-top: 100px;
}

sup {
  vertical-align: super;
}

.size-a {
  width: 26px;
  height: 26px;
}

.size-b {
  width: 30px;
  height: 30px;
}

.size-c {
  width: 33px;
  height: 33px;
}

.size-w-q {
  height: 18px;
  width: 26px;
  margin-right: 28px;
}

.swiper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 40.541%;
}

.swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes tocenter {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.35);
            transform: scale(0.35);
  }
}

@keyframes tocenter {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.35);
            transform: scale(0.35);
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-pagination-bullet {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8px;
  height: 8px;
  background: white;
  position: relative;
  border-radius: 100%;
}

.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 20px;
}

.swiper-pagination-bullet::after {
  position: absolute;
  content: '';
  display: block;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  border: 1px solid white;
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.swiper-pagination-bullet-active::after {
  -webkit-animation-name: tocenter;
          animation-name: tocenter;
  -webkit-animation-duration: 7000ms;
          animation-duration: 7000ms;
}

.swiper-slide {
  background: palevioletred;
}

.slide {
  position: relative;
}

.slide > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slide > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  z-index: 0;
}

.slide .slide__cnt {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 80px 100px 30px;
  text-align: left;
}

.slide .slide__p {
  margin-top: 40px;
}

.slide .slide__btn {
  width: 220px;
  height: 64px;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 157%;
  margin-top: 35px;
}

.slide .slide__pgntn {
  margin-top: auto;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 163.5%;
  color: var(--color-text-main);
}

header, footer {
  width: 100%;
  width: 100%;
  background: var(--color-background-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  height: 100px;
  position: fixed !important;
  z-index: 100;
  top: 0;
  -webkit-box-shadow: 0px 4px 26px rgba(96, 96, 96, 0.03);
          box-shadow: 0px 4px 26px rgba(96, 96, 96, 0.03);
}

footer {
  height: 127px;
}

.main-wrapper {
  max-width: 1480px;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.article-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.inside-wrapper {
  max-width: 955px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.scheme {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 24px;
  position: relative;
  color: var(--color-text-main);
}

.scheme .scheme__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scheme .scheme__grf,
.scheme .scheme__grh {
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scheme .scheme__grf + .scheme__grh,
.scheme .scheme__grh + .scheme__grh {
  border-left: 1px solid var(--color-background-space);
}

.scheme .scheme__grf.scheme__grh_side,
.scheme .scheme__grh.scheme__grh_side {
  margin-left: auto;
  border-left: none;
}

.scheme .scheme__grf.scheme__grh_bottom,
.scheme .scheme__grh.scheme__grh_bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.scheme .scheme__grf {
  padding: 46px 33px;
}

.scheme .scheme__grh {
  padding: 31px 33px 29px;
}

.scheme .scheme__name {
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-33px);
          transform: translateX(-33px);
}

.scheme .scheme__nav {
  margin-top: 3px;
}

.scheme .scheme__cr {
  font-weight: 200;
  font-size: 15px;
  line-height: 25px;
  color: var(--color-text-air);
  margin-left: 40px;
  margin-bottom: 6px;
}

ul.nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.nav > li {
  margin: 0 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 1;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

ul.nav > li::after {
  display: block;
  position: absolute;
  content: attr(data-name);
  bottom: 0;
  height: 0;
  background: var(--color-text-main);
  color: transparent !important;
  pointer-events: none;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

ul.nav > li.active, ul.nav > li:hover {
  opacity: .7;
}

ul.nav > li.active::after, ul.nav > li:hover::after {
  height: 3px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'PF Din Display Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-text-main);
  text-decoration: none;
}

.logo .logo__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
  border-left: 1px solid var(--color-background-space);
  margin-left: 20px;
}

.logo .logo__txt span + span {
  margin-top: 3px;
}

.center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skltn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 100px;
}

.skltn .skltn__bn {
  margin-top: 64px;
}

.skltn .skltn__os {
  margin-top: 25px;
}

.skltn .skltn__srch {
  height: 70px;
  max-width: 905px;
}

.skltn .skltn__hr {
  margin: 38px 0 13px;
  height: 0;
  width: 100%;
  border-bottom: 2px solid var(--color-background-space);
}

.skltn .skltn__dbl {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 54px;
}

.skltn .skltn__dbl .skltn-dbl__prt {
  width: calc(50% - 38px);
}

.container {
  padding: 60px 80px 100px;
}

.map-container {
  background: var(--color-background-white);
}

.container,
.map-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.map-info {
  max-width: 435px;
  width: 100%;
  min-width: calc(40% - 95px);
}

.map-info p {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 100;
}

.map-info .map-info__bn {
  margin-top: 52px;
}

.map-info .map-info__hr {
  width: 100%;
  margin: 52px 0 0;
  border-top: 2px solid var(--color-background-gray);
}

.wrp {
  max-width: 955px;
  margin: 0 auto;
}

.goup {
  position: fixed !important;
  width: 106px;
  height: 106px;
  top: calc(50% - 53px) !important;
  right: 5vw !important;
  background: rgba(188, 190, 192, 0.21) !important;
  text-transform: uppercase;
}

.goup span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/svg/arrow-up.svg) no-repeat;
  background-position: 50% 0px;
}
/*# sourceMappingURL=base.css.map */