* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'PF Din Display Pro';

    src: url('../fonts/PFDinDisplayPro-Regular.eot');
    src: url('../fonts/PFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFDinDisplayPro-Regular.woff')       format('woff'),
         url('../fonts/PFDinDisplayPro-Regular.ttf')        format('truetype');

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Display Pro';

    src: url('../fonts/PFDinDisplayPro-Medium.eot');
    src: url('../fonts/PFDinDisplayPro-Medium.eot?#iefix')  format('embedded-opentype'),
         url('../fonts/PFDinDisplayPro-Medium.woff')        format('woff'),
         url('../fonts/PFDinDisplayPro-Medium.ttf')         format('truetype');

    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Display Pro';
    src: url('../fonts/PFDinDisplayPro-Light.eot');
    src: url('../fonts/PFDinDisplayPro-Light.eot?#iefix')   format('embedded-opentype'),
         url('../fonts/PFDinDisplayPro-Light.woff')         format('woff'),
         url('../fonts/PFDinDisplayPro-Light.ttf')          format('truetype');

    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'Lato';

    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');

    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';

    src: url('../fonts/Lato/Lato-Italic.ttf.ttf') format('truetype');

    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';

    src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');

    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';

    src: url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');

    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Light.ttf') format('truetype');

    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-LightItalic.ttf') format('truetype');

    font-weight: 200;
    font-style: italic;
}

input {
    outline: 0;
    border: 0;
    
    &[type=search]::-webkit-search-cancel-button {
        -webkit-appearance: none;
        position: relative;
        height: 16px;
        width: 16px;
        right: -18px;
        background: url(../img/svg/cross-black.svg) no-repeat;
        background-size: 100%;
    }
}

button {
    padding: 0;
}
span {
    display: inline-block;
}
html {
    touch-action: manipulation;
    font-size: 16px;
    font-family: 'PF Din Display Pro';
}
a {
    color: var(--color-text-main);
    text-decoration: none;
    transition: opacity .2s ease;

    &:visited {
        color: var(--color-text-main);
    }

    &:hover {
        opacity: .7;
    }
}

a.link {
    > span {
        position: relative;
    }
    > span::after {
        display: block;
        content: '___________________________________________________________________________________________________________________________';
        position: absolute;
        bottom: 0;
        height: 10px;
        left: 0;
        right: 100%;
        -webkit-transition: right .2s ease;
        transition: right .2s ease;
        line-height: 0;
        letter-spacing: -0.8px;
        -webkit-transform: translateY(-4px);
        transform: translateY(-2px);
        pointer-events: none;
        overflow: hidden;
        max-width: 100%;
        color: inherit;
    }
    &:hover > span::after {
        right: 0;
    }
}

:root {
    --color-text-main:         rgb(11, 10, 10);
    --color-text-blue:         rgb(0, 168, 224);
    --color-text-white:        rgb(255, 255, 255);
    --color-text-bardo:        rgb(243, 39, 53);
    --color-text-air:          rgb(188, 190, 192);
    --color-background-gray:   rgb(245, 245, 245);
    --color-background-blue:   rgb(0, 167, 225);
    --color-background-lblue:  rgb(244, 251, 255);
    --color-background-lbardo: rgb(254, 244, 245);
    --color-background-white:  rgb(255, 255, 255);
    --color-background-space:  rgb(232, 232, 232);


    --width-addr: 435px;
    --height-mosaic-tab-active: 650px;
    --height-mosaic-tab: 193px;
    --padding-mosaic-offset: 13px;
}

.bhidden {
    display: none !important;
}

body {
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 127px;
    
    background: var(--color-background-gray);
}

sup {
    vertical-align: super;
}

.size-{
    &a {
        width: 26px;
        height: 26px;
    }
    &b {
        width: 30px;
        height: 30px;
    }
    &d {
        width: 32px;
        height: 32px;
    }
    &c {
        width: 33px;
        height: 33px;
    }
    &w-q{
        height: 18px;
        width: 26px;
        margin-right: 28px;
    }
}


// #Swiper
.swiper{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 40.541%;
}
.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes tocenter {
    0% {
        transform: scale(0);
    }

    10% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.35);
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-pagination-bullet {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
    background: transparent;
    position: relative;
    border-radius: 100%;

    + .swiper-pagination-bullet {
        margin-left: 20px;
    }

    &::after {
        position: absolute;
        content: '';
        display: block;

        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;

        border: 1px solid white;
        border-radius: 100%;

        transform: scale(0);
    }
  }
  .swiper-pagination-bullet-active {
        &::after {
            animation-name: tocenter;
            animation-duration: 7000ms;
        }
  }
  .swiper-slide {
      background: transparent;
  }

.slide {
    position: relative;

    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
        z-index: 0;
    }
    .slide__cnt {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 80px 100px 30px;
        
        text-align: left;
    }
    .slide__tlt {
        font-size: 4rem;
    }
    .slide__p {
        margin-top: 40px;
    }
    .slide__btn {
        width: 220px;
        height: 64px;

        font-weight: 500;
        font-size: 1.25rem;
        line-height: 157%;

        margin-top: 44px;
    }

    .slide__pgntn {
        margin-top: auto;

        font-weight: 500;
        font-size: 1.25rem;
        line-height: 163.5%;

        color: var(--color-text-main);
    }
}

header, footer {
    max-width: 100vw;
    width: 100%;
    width: 100%;
    background: var(--color-background-white);
    display: flex;

    z-index: 10;
}

header {
    top: 0;
    position: fixed !important;
    top: 0;
    height: 100px;
    z-index: 100;
    box-shadow: 0px 4px 26px rgba(96, 96, 96, 0.03);

    transition: .3s ease;
}

footer {
    margin-top: auto;
    position: absolute;
    bottom: 0;
    height: 127px;
}

.main-wrapper {
    max-width: 1480px;
    margin: 0 auto;
    flex: 1;
}

.article-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    flex: 1;
}

.inside-wrapper {
    max-width: 955px;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.scheme {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 24px;
    
    color: var(--color-text-main);

    .scheme__wrapper {
        display: flex;
    }

    .scheme__grf,
    .scheme__grh {
        height: 100%;

        display: inline-flex;
        align-items: center;

        + .scheme__grh {
            border-left: 1px solid var(--color-background-space);
        }

        &.scheme__grh_side {
            margin-left: auto;
            border-left: none;
        }
        &.scheme__grh_bottom {
            align-items: flex-end;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .scheme__grf {
        padding: 46px 33px;
    }
    .scheme__grh {
        padding: 31px 33px 29px;
    }
    .scheme__name {
        height: 100%;
        display: inline-flex;
        align-items: center;
        transform: translateX(-33px);
        position: relative;
        z-index: 10;
    }
    .scheme__nav {
        margin-top: 3px;
    }
    .scheme__cr {
        font-weight: 200;
        font-size: 15px;
        line-height: 25px;

        color: var(--color-text-air);

        margin-left: 40px;

        margin-bottom: 6px;
    }

    &:not(footer) {
        position: relative;
    }

    .scheme__mobmenu {
        z-index: 10;
    }
    .scheme__mobmenu.active + .scheme__moblist {
        opacity: 1;
        pointer-events: all;
        max-height: 300px;
    }

    .scheme__moblist {
        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        padding: 43px 40px 50px;

        background: white;
        z-index: 8;

        opacity: 0;
        pointer-events: none;
        max-height: 0;

        transition: opacity .3s ease, .2s ease;

        box-shadow: 0px 4px 56px rgba(96, 96, 96, 0.24);

        list-style: none;


        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;

        color: var(--color-text-main);

        li {
            margin-top: 30px;
        }
    }
}

ul.nav {
    list-style: none;
    display: flex;

    > li {
        margin: 0 33px;

        display: flex;
        align-items: flex-end;
        opacity: 1;
        transition: .2s ease;

        &::after {
            display: block;
            position: absolute;
            content: attr(data-name);
            bottom: 0;
            height: 0;
            background: var(--color-text-main);
            color: transparent !important;
            pointer-events: none;

            transition: .2s ease;
        }

        &.active,
        &:hover {
            opacity: .7;

            &::after {
                height: 3px;
            }
        }

    }

    
}
.footer {
    .footer__wrapper {

    }
}

.logo {
    display: flex;

    font-family: 'PF Din Display Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: var(--color-text-main);

    text-decoration: none;

    position: relative;
    z-index: 10;

    .logo__txt {
        display: flex;
        flex-direction: column;

        padding: 0 20px;
        border-left: 1px solid var(--color-background-space);
        margin-left: 20px;

        span + span {
            margin-top: 3px;
        }
    }
}

.center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skltn {
    display: flex;
    flex-direction: column;

    padding-bottom: 130px;

    .skltn__bn {
        margin-top: 64px;
    }

    .skltn__os {
        margin-top: 25px;
    }
    .skltn__srch {
        height: 70px;
        max-width: 905px;
    }
    .skltn__hr {
        margin: 38px 0 13px;
        height: 0;
        width: 100%;
        border-bottom: 2px solid var(--color-background-space);
    }

    .skltn__dbl {
        width: 100%;
        display: flex;
        justify-content: space-between;

        margin-top: 54px;

        .skltn-dbl__prt {
            width: calc(50% - 38px);
        }
    }
}

.container {
    padding: 60px 80px 100px;
}
.map-container {
    background: var(--color-background-white);
}
.container,
.map-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.map-info {
    max-width: 435px;
    width: 100%;
    min-width: calc(40% - 95px);

    p {
        font-size: 1.125rem;
        line-height: 1.375rem;
        font-weight: 100;
    }

    .map-info__bn {
        margin-top: 52px;
    }
    .map-info__hr {
        width: 100%;
        margin: 52px 0 0;
        border-top: 2px solid var(--color-background-gray);
    }
}
.wrp {
    max-width: 955px;
    margin: 0 auto;
}
.goup {
    position: fixed !important;
    width: 106px;
    height: 106px;

    top: calc(50% - 53px) !important;
    right: 5vw !important;

    background: rgba(188, 190, 192, 0.21) !important;

    text-transform: uppercase;

    transition: .2s ease;

    span {
        display: flex;
        width: 100%;
        height: 100%;
        padding-top: 36px;
        justify-content: center;
        background: url(../img/svg/arrow-up.svg) no-repeat;
        background-position: 50% 0px;
    }
}

.p404 {
    font-size: 1.5rem;
    line-height: 1.8125rem;

    .p404__txt {
        margin-top: 24px;
        font-weight: normal;
    }
    .p404__btn {
        margin-top: 64px;
        width: 220px;
        height: 64px;
    }
}
.b404 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: url(../img/png/404.png) right center no-repeat;

    z-index: -1;

}

@-webkit-keyframes anim {
    0% {
        stroke-dashoffset: 60;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes anim {
    0% {
        stroke-dashoffset: 60;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
.progress {
    stroke-dasharray: 			62;
    stroke-dashoffset: 			62;
}
.swiper-pagination-bullet-active .progress {
    animation-name: 			anim;
    animation-duration: 		3s;
    animation-timing-function: 	linear;
    animation-iteration-count: 	infinite;
}

@keyframes -in-focus-animation- {
    0% {
        box-shadow: 0px 0px 26px -6px rgba(0,169,225,0.55);
    }
    75% {
        box-shadow: 0px 0px 26px -6px rgba(0,169,225,0.55);
    }
    100% {
        box-shadow: 0px 0px 26px -6px rgba(0,169,225,0);
    }
}