@import './base.scss';
@import './icons.scss';
@import './table.scss';

$search-v-padding: 15px;
.search {
    position: relative;
    display: flex;
    align-items: center;

    height: 90px;
    padding: $search-v-padding 0 $search-v-padding 5px;
    background: var(--color-background-white);

    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8125rem;

    color: var(--color-text-gray);

    .search__ic {
        padding: 0 30px;
        border-right: 1.34751px solid rgba(232, 232, 232, 0.7);
        height: 100%;
        display: flex;
        align-items: center;
    }
    .search__inp {
        flex: 1;
        height: 100%;
        color: inherit;
    }
    .search__btn {
        width: 215px;
        height: calc(100% + #{$search-v-padding * 2});
        margin-top: -$search-v-padding;
        margin-bottom: -$search-v-padding;

        font-size: inherit;
        font-family: inherit;
    }

    input {
        padding: 0 50px;
        width: 100%;
        height: 100%;
        font-size: inherit;
        font-family: inherit;
        color: inherit;

        &::placeholder {
            opacity: .3;
            color: inherit;
        }
    }

    &:not(.search_noshadow)::after {
        position: absolute;
        content: '';
        display: block;
        top: 54%;
        height: 83%;
        left: 0;
        right: 0;

        background: #2B4149;
        opacity: 0.16;  
        filter: blur(45px);

        border-radius: 100%;
        z-index: -1;

        pointer-events: none;
    }
}

.btn {
    outline: 0;
    border: 0;
    background: initial;
    cursor: pointer;

    transition: .2s ease;

    display: inline-flex;;
    align-items: center;
    justify-content: center;
    position: relative;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;

    .btn__bow {
        width: 52px;
        height: 52px;
        background: var(--color-background-gray);
        border-radius: 100%;
        position: relative;

        margin-left: 27px;

        &::after {
            position: absolute;
            display: block;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(../img/svg/arrow-right.svg) no-repeat;
            background-position: center;

            transition: .2s ease;

            transform: translateX(-17px);
            pointer-events: none;
        }
    }

    > a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        text-decoration: none;
        color: inherit;
    }
    
    &:hover {
        opacity: .7;

        .btn__bow::after {
            transform: translateX(-5px);
        }
    }

    &.btn_blue {
        color: var(--color-text-white);
        background: var(--color-background-blue);
        
        transition: color .3s;

        &:hover {
            color: var(--color-background-blue);
        }

        &::before {
            background: white;
        }
    }

    &.btn_arrow {

    }

    &::before {
        display: inline-block;
        position: absolute;
        content: '';
        top: 1px;
        left: 1px;
        right: 100%;
        bottom: 1px;

        transition: right .3s;

        z-index: 1;
    }

    span {
        position: relative;
        z-index: 2;
    }

    &:hover::before {
        right: 1px;
    }
}

.bk {
    user-select: none;
    position: relative;
    
    width: 100%;
    height: 0;
    padding-bottom: 65%;

    font-weight: 500;

    transition: .2s ease;

    color: var(--color-text-main);
    
    transition: color .2s ease;

    .bk__btn {
        font-family: 'PF Din Display Pro', sans-serif;
        font-weight: 500;
        font-size: 20px;
        margin-top: 17px;
        color: var(--color-text-main);

    }
    .bk__pan {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;


        z-index: 1;

        padding: 52px 62px 38px;

        display: flex;
        flex-direction: column;

        color: inherit;
    }

    .bk__svg {
        position: absolute;
        right: 0;
        bottom: 0;

        transition: transform .2s ease;

        transform: scale(.8) translateX(42px) translateY(30px);
    }

    .bk__cat {
        font-size: 1.6359rem;
        line-height: 34px;

        text-transform: uppercase;

        color: inherit;
    }

    .bk__tlt {
        margin-top: 8px;
        color: inherit;
    }

    .bk__cnt {
        margin-top: auto;
        font-size: 4rem;
        line-height: 0.7em;
    }

    .bk__wr {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        background: var(--color-background-white);

        color: inherit !important;
        opacity: 1 !important;
    }

    &.bk_pills .bk__pan { 
        background: url(../img/svg/pills.svg) no-repeat;
        background-position: calc(100% - 30px) calc(100% - 30px);
        background-size: 33%;
    }
    &.bk_chemical .bk__pan { 
        background: url(../img/svg/chemical.svg) no-repeat;
        background-position: calc(100% - 30px) calc(100% - 30px);
        background-size: 38%;
    }
    &.bk_blue:hover {
        color: var(--color-text-blue);
    }
    &.bk_blue .bk__cnt {
        color: var(--color-text-blue);
    }
    &.bk_bardo:hover {
        color: var(--color-text-bardo);
    }
    &.bk_bardo .bk__cnt {
        color: var(--color-text-bardo);
    }

    &::after {
        position: absolute;
        content: '';
        display: block;
        bottom: -40px;
        height: 64px;
        left: 0;
        right: 0;

        background: #2B4149;
        opacity: 0;
        filter: blur(45px);

        border-radius: 100%;
        z-index: -1;

        pointer-events: none;

        transition: opacity .2s ease;
    }
    &:hover {
        &::after {
            opacity: 0.34;
        }

        .bk__svg {
            transform: scale(1) translateX(0) translateY(0);
        }
    }
}

.tlt {
    font-size: 3.75rem;
    font-weight: 500;
    line-height: 110%;
    color: var(--color-text-main);

    text-transform: uppercase;
}

.txt {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 163.5%;
    color: var(--color-text-main);
}

@keyframes KFOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes MosaicOpen {
    0% {
        height: var(--height-mosaic-tab);
    }
    100% {
        height: var(--height-mosaic-tab-active)
    }
}

.mosaic {
    overflow: hidden;

    display: flex;
    flex-flow: row wrap;
    margin: calc(-1 * var(--padding-mosaic-offset));
    
    margin-bottom: 0;


    .mosaic__tab {
        z-index: 1;
        position: relative;
        margin-top: auto;
        padding: var(--padding-mosaic-offset) 0 0 var(--padding-mosaic-offset);

        width: 25%;
        max-width: 25%;
        //height: var(--height-mosaic-tab);
        height: auto;
        max-height: var(--height-mosaic-tab);

        //transition: height .3s, margin-left .3s, width .3s, max-width .3s, opacity .2s;
        transition: .4s;

        &.active {
            z-index: 10;
            //height: var(--height-mosaic-tab-active);

            ///

            padding-bottom: var(--height-mosaic-tab);
            height: auto;
            max-height: 650px;

            > .mosaic-tab__wr:hover,
            > .mosaic-tab__wr {
                //height: calc(var(--height-mosaic-tab-active) - var(--height-mosaic-tab) - var(--padding-mosaic-offset));
                //width: calc(400% - var(--padding-mosaic-offset));
                width: calc(400% + calc( 2 * var(--padding-mosaic-offset)));
                -moz-box-shadow: 0px 21px 45px -29px rgba(0,0,0,0);
                box-shadow: 0px 21px 45px -29px rgba(0,0,0,0);
            }

            &:nth-child(4n + 2) .mosaic-tab__wr {
                margin-left: calc(-100% - var(--padding-mosaic-offset));
            }
            &:nth-child(4n + 3) .mosaic-tab__wr {
                margin-left: calc(-200% - 2* var(--padding-mosaic-offset));
            }
            &:nth-child(4n + 4) .mosaic-tab__wr{
                margin-left: calc(-300% - 3* var(--padding-mosaic-offset));
            }

            > .mosaic-tab__wr {
                -moz-box-shadow: 0px 21px 45px -29px rgba(0,0,0,0.25);
                box-shadow: 0px 21px 45px -29px rgba(0,0,0,0.25);
                
                .mosaic-tab-wr__bd {
                    pointer-events: all;
                }
            } 
        }

        &.active .for-passive,
        &:not(.active) .for-active {
            opacity:        0    !important;
            pointer-events: none !important;
            max-height:     0    !important;
            min-height:     0    !important;
            padding-top:    0    !important;
            padding-bottom: 0    !important;
            margin:         0    !important;
        }

        &:not(.active) .for-active .pnl__ul {
            display: none !important;
        }

        &.active .for-passive {
           left: 100%;
        }

        .for-passive {
            max-height: var(--height-mosaic-tab);
        }

        .mosaic-tab__wr {
            position: relative;
            cursor: pointer;
            
            //height: calc(var(--height-mosaic-tab) - var(--padding-mosaic-offset));
            width: 100%;
            background: var(--color-background-white);
            transition: .4s;
            display: flex;
            justify-content: center;
            align-items: center;

            //
            height: auto;
            position: static;
            cursor: pointer;

            &:hover {
                -moz-box-shadow: 0px 21px 45px -29px rgba(0,0,0,0.25);
                box-shadow: 0px 21px 45px -29px rgba(0,0,0,0.25);

                .for-passive {
                    color: var(--color-text-main);
                }
            }


            .mosaic-tab-wr__bd {
                pointer-events: none;
                width: 100%;
                //height: 100%;
                position: relative;
                overflow: hidden;

                //
                height: auto;

                z-index: 2;
            }
        }
    }
    .mosaic__pnl {
        //position: absolute;
        position: static;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;

        min-height: calc(var(--height-mosaic-tab) - var(--padding-mosaic-offset));

        transition: .4s;
    }
}

@keyframes pnl-open {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pnl {
    color: var(--color-text-blue);
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px 35px 20px;
    cursor: pointer;

    font-size: 1rem;
    line-height: 1.25rem;

    transition: opacity 4s ease, left 2s ease;

    + .pnl {
        //margin-top: 13px;
    }

    .pnl__hf,
    .pnl__h {
        font-weight: 500;
        font-size: 1.375rem;
        line-height: 1.025em;
        color: inherit;
    }
    .pnl__h {
        max-width: 235px;
        //width: 78%;
        width: 100%;
    }
    .pnl__hf {
        width: 100%;
        display: flex;
        padding-bottom: 17px;
        white-space: nowrap;
        border-bottom: 2px solid var(--color-background-gray);
    }
    .pnl__cls {
        margin-left: auto;
    }

    .pnl__f {
        margin-top: auto;
        display: flex;
        align-items: center;

        span + span {
            margin-left: 10px;
        }
    }

    .pnl__ul {
        position:  relative;
        opacity: 1;

        animation-name: pnl-open;
        animation-duration: .5s;

        display: flex;
        flex-flow: row wrap;
        list-style: none;

        margin: 20px -10px -25px;
        //max-height: calc(100% - 56px);
        height: auto;

        transition: opacity 1s ease;

        .pnl-ul__li {
            width: 100%;
            max-width: 50%;
            margin-bottom: 25px;
            padding: 0 10px;
        }
        &::after {
            position: static;
            display: block;
            content: '';

            margin-top: auto;
        }
    }

    a:hover {
        opacity: .5;
    }

    &.pnl_srch {
        background: var(--color-background-white);
    }

    &.pnl_girl {
        background: url(../img/svg/mosaic/mosaic-girl.svg) no-repeat;
        background-position: calc(100% - 25px) center;
        background-size: 30%;
    }
    &.pnl_brn {
        background: url(../img/svg/mosaic/mosaic-brain.svg) no-repeat;
        background-position: calc(100% - 25px) center;
        background-size: 30%;
    }   
}










.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: calc(100% - 435px - 80px - 105px);
}

.addr {
    width: 100%;
    height: 57px;
    max-width: var(--width-addr);
    position: relative;
    background: var(--color-background-white);
    border: 2px solid var(--color-background-gray);

    user-select: none;
    cursor: pointer;

    .addr__l {
        position: absolute;
        display: flex;
        top: 0;
        width: var(--width-addr);
        bottom: 0;
        transition: left .2s, color .2s ease, opacity .2s ease;
        left: 0;

        &.addr__l_bgr {
            color: var(--color-text-air);

            &:hover {
                color: var(--color-text-main);
                opacity: .5;
            }
        }
        &.addr__l_top {
            background: var(--color-background-blue);
            color: var(--color-text-white);
        }

        .addr-l__lbl {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .addr__bolt {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        transition: left .2s;
        
        overflow: hidden;
    }

    &.pos-1 .addr__bolt { // as default
        left: 0;
        .addr__l {
            left: 0;
        }
    }
    &.pos-2 .addr__bolt {
        left: 50%;

        .addr__l {
            left: -100%;
        }
    }
}

.compact {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.field-tlt {
    height: 66px;
    display: flex;
    font-size: 24px;
    line-height: 29px;
    position: relative;

    > span {
        position: absolute;
        top: 0;
        left: 0;
        font-size: .75em;
        line-height: .75em;
        color: var(--color-text-air);
    }

    > a {
        margin-top: auto;
        font-weight: 500;
        text-decoration: none;
        color: var(--color-text-main);
    }
}

.back {
    width: 100%;
    padding: 18px 10px;
    font-size: 18px;

    background: rgba(188, 190, 192, 0.21);

    .back__wrp {
        display: flex;
        justify-content: flex-start;
    }
}

.bluefill {
    padding: 28px 20px;
    color: var(--color-text-blue);
    background: var(--color-background-lblue);

    font-weight: 500;
    font-size: 1.5em;
    line-height: 29px;

    .bluefill__wr {
        width: 100%;
        max-width: 956px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.fullfill {
    padding: 28px 20px;
    font-size: 1.3em;
    line-height: 1em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .fullfill__wr {
        width: 100%;
        max-width: 956px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        text-align: center;

        
        font-weight: 500;
        font-size: 1.16em;
        line-height: 1.2em;
    }

    > p + p {
        margin-top: 20px;
    }
    > p:empty {
        display: none;
    }

    &.fullfill_blue {
        color: var(--color-text-blue);
        background: var(--color-background-lblue);
    }
    &.fullfill_bardo {
        color: var(--color-text-bardo);
        background: var(--color-background-lbardo);
    }
}


.artcl {
    font-size: 17px;
    line-height: 1.4em;

    font-weight: 300;
    text-align: left;
    margin: 0 0 15px;
    padding: 60px 0 50px;
    color: var(--color-text-main);
    background: var(--color-background-white);

    .artcl__N {
        margin-top: 25px;
        text-align: center;
        margin: 25px auto 0;

        font-size: 1.13em;
        line-height: 21px;

        text-align: center;
        text-transform: uppercase;

        color: var(--color-text-air);
    }

    .artcl__tlt {
        font-size: 2.875em;
        text-align: center;
    }

    .artcl__nm {
        font-weight: 500;
        font-size: 1.875em;
        margin-bottom: 25px;
    }
    .artcl__scrll {
        //overflow-x: scroll; in media 1024
        &::-webkit-scrollbar{
            display: none !important;
            width: 0; 
            height: 0;
            opacity: 0;
            border: 0;
            position: relative;
        }
    }

    .artcl__ds {
        font-weight: 500;
        font-size: 1.3em;
        margin-bottom: 15px;
    }

    .artcl__subdesc {
        margin-top: 25px;

        font-size: .75em;
        line-height: 100%;

        color: #97989A;
    }

    ul.artcl__list {
        list-style: none;
        
        li {
            position: relative;
            line-height: 30px;

            span {
                margin-left: 34px;
            }

            &::before {
                position: absolute;
                display: block;
                content: '';

                width: 4px;
                height: 4px;

                left: 0;
                top: 13px;
            }
        }

        &.artcl__list_link  {
            li {
                span {
                    margin-left: 40px;
                }
                &::before {
                    background: url(../img/svg/link-blue.svg) center no-repeat;
                    width: 18px;
                    height: 18px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }        
    }


    &.artcl_bardo {
        .artcl__list li::before {
            background: var(--color-text-bardo);
        }
    }

    &.artcl_blue {
        .artcl__list li::before {
            background: var(--color-text-blue);
        }
    }
    

    .artcl__bd {
        width: 100%;

        display: flex;
        flex-direction: column;
    }

    .artcl__bn {
        margin-top: 40px;

        &.artcl__bn_hr {
            border-top: 2px solid var(--color-background-gray);
        }
    }

    .artcl__os {
        margin-top: 25px;
    }


    .artcl__tbl {
        margin-top: 15px;
    }   
}


.brgr-menu {
    display: none !important;
    position: relative;
    width: 25px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span { 
        pointer-events: none;
        width: 25px;
        height: 2px;
        background: var(--color-text-main);

        transform-origin: 0px 3px;

        opacity: 1;

        transform: rotate(0deg) translateX(0%);
        
        transition: .2s ease;
    }

    &.active {
        width: 25px;
        height: 25px;
        span {
            &:nth-child(1) {
                transform: rotate(45deg) translateX(0%);
                width: 34px;
                transform-origin: 3px 6px;
            }
            &:nth-child(2) {
                transform: rotate(0deg) translateX(-100%);
                pointer-events: none;
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translateX(0%);
                width: 34px;
                transform-origin: 3px -4px;
            }
        }
    }
}

.vec-image-background {
    position: absolute;
}



@import '../css/media.scss';
