@media (max-width: 1560px) {
  :root {
    font-size: 14px;
  }
  .main-wrapper {
    max-width: calc(100% - 120px);
  }
  header {
    height: 70px;
  }
  body {
    padding-top: 70px;
  }
  footer {
    height: 90px;
  }
  body {
    padding-bottom: 90px;
  }
  .scheme {
    font-size: 1.35rem;
  }
  .scheme .scheme__name {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  .scheme .scheme__grh {
    padding: 20px;
  }
  .scheme .scheme__grf {
    padding: 25px 20px;
  }
  .scheme .scheme__cr {
    margin-left: 25px;
  }
  ul.nav > li {
    margin: 0 20px;
  }
  .logo {
    line-height: 12px;
    height: 38px;
  }
  .logo .logo__img img {
    height: 100%;
    margin-left: auto;
  }
  .logo .logo__txt {
    padding: 0 15px;
    margin-left: 15px;
  }
  .logo .logo__txt span + span {
    margin-top: 1.3px;
  }
  .bk .bk__pan {
    padding: 40px 50px 30px;
  }
  .bk .bk__svg {
    bottom: -20px;
    width: 260px;
  }
  .bk.bk_pills .bk__pan {
    background-size: 30%;
  }
  .bk.bk_chemical .bk__pan {
    background-size: 36%;
  }
  .slide .slide__cnt {
    padding: 50px 80px 30px;
  }
  .slide .slide__btn {
    height: 55px;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 28px;
  }
  .skltn {
    padding-bottom: 80px;
  }
  .skltn .skltn__bn {
    margin-top: 50px;
  }
  .search {
    height: 70px;
  }
  .txt {
    font-size: 1.35rem;
  }
  .addr {
    font-size: 16px;
  }
  .map-info p {
    line-height: 1.4rem;
    font-size: 1.325rem;
  }
}

@media (max-width: 1280px) {
  :root {
    font-size: 11.8px;
  }
  .tlt {
    line-height: 1em;
  }
  .bk {
    padding-bottom: 70%;
  }
  .bk .bk__svg {
    bottom: -50px;
    width: 215px;
  }
  .bk.bk_pills .bk__pan {
    padding: 25px 35px 20px;
    background-position: calc(100% - 15px) calc(100% - 15px);
    background-size: 37%;
  }
  .bk.bk_chemical .bk__pan {
    padding: 25px 35px 20px;
    background-position: calc(100% - 15px) calc(100% - 15px);
    background-size: 37%;
  }
  .bk .bk__cat {
    line-height: 1em;
  }
  .bk .bk__btn {
    font-size: 16px;
  }
  .bk .bk__tlt {
    letter-spacing: 0;
  }
  .skltn {
    padding-bottom: 60px;
  }
  .skltn .skltn__bn {
    margin-top: 35px;
  }
  .skltn .skltn__dbl {
    margin-top: 35px;
  }
  .skltn .skltn__dbl .skltn-dbl__prt {
    width: calc(50% - 20px);
  }
  .slide .slide__cnt {
    padding: 40px 60px 30px;
  }
  .slide .slide__p {
    margin-top: 25px;
  }
  .txt {
    line-height: 1.2em;
  }
  .slide .slide__btn {
    margin-top: 25px;
    height: 50px;
  }
  header {
    height: 60px;
  }
  body {
    padding-top: 60px;
  }
  .logo {
    line-height: 9.93px;
    height: 30px;
    font-size: 10px;
  }
  .logo .logo__txt {
    padding: 0 10px;
    margin-left: 10px;
  }
  .search .search__ic {
    padding: 0 15px;
  }
  .search .search input {
    padding: 0 20px;
  }
  .btn .btn__bow {
    width: 43px;
    height: 43px;
  }
  .search {
    height: 55px;
  }
  .scheme .scheme__name {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    width: 160px;
  }
  .scheme .scheme__name img {
    width: 100%;
  }
  .scheme .scheme__grh {
    padding: 20px 10px;
  }
  ul.nav > li {
    margin: 0 14px;
  }
  .skltn {
    padding-bottom: 60px;
  }
  .swiper {
    padding-bottom: 46%;
  }
  .tlt {
    font-size: 3.15rem;
  }
  footer {
    height: 80px;
  }
  body {
    padding-bottom: 80px;
  }
  .container {
    padding: 40px 60px 80px;
  }
  .map-container__map {
    margin-top: -32px;
    position: relative;
    left: -60px;
    right: -60px;
    width: calc(100% + 120px);
    bottom: -80px;
    height: 400px;
  }
  .map {
    width: 100%;
  }
  .map-info__bn.logo {
    margin-top: 0;
    width: auto;
    height: 50px;
  }
  .mosaic .mosaic__tab {
    width: calc(33% + var(--padding-mosaic-offset)/6);
    max-width: calc(33% + var(--padding-mosaic-offset)/6);
  }
  .mosaic .mosaic__tab.active .mosaic-tab__wr {
    width: calc(300% - var(--padding-mosaic-offset));
    width: calc(300% + var(--padding-mosaic-offset));
  }
  .mosaic .mosaic__tab.active:nth-child(4n + 2) .mosaic-tab__wr {
    margin-left: 0%;
  }
  .mosaic .mosaic__tab.active:nth-child(4n + 3) .mosaic-tab__wr {
    margin-left: 0%;
  }
  .mosaic .mosaic__tab.active:nth-child(4n + 4) .mosaic-tab__wr {
    margin-left: 0%;
  }
  .mosaic .mosaic__tab.active:nth-child(3n + 2) .mosaic-tab__wr {
    margin-left: calc(-100% - var(--padding-mosaic-offset));
  }
  .mosaic .mosaic__tab.active:nth-child(3n + 3) .mosaic-tab__wr {
    margin-left: calc(-200% - 2* var(--padding-mosaic-offset));
  }
  .pnl {
    font-size: 1.2rem;
  }
  .pnl .pnl__h {
    font-size: 1.675rem;
  }
  .page-404 .page-404__srch {
    margin-top: 65px;
  }
  .b404 {
    background-position: calc(100% + 130px) 40px;
    background-size: 90%;
  }
}

@media (max-width: 1024px) {
  .main-wrapper {
    max-width: calc(100% - 80px);
  }
  .swiper {
    padding-bottom: 350px;
  }
  .search input {
    padding: 0 20px;
  }
  .scheme .scheme__name {
    -webkit-transform: translateX(-10px) translateY(2px);
            transform: translateX(-10px) translateY(2px);
    width: 120px;
  }
  .scheme .scheme__name img {
    width: 100%;
  }
  .bk {
    padding-bottom: 260px;
  }
  .logo {
    height: 25px;
    line-height: 8.93px;
    font-size: 9px;
  }
  .logo .logo__txt {
    padding: 0 0 0 8px;
    margin-left: 8px;
  }
  ul.nav > li {
    margin: 0 6px;
  }
  .scheme .scheme__grh {
    padding: 20px 8px;
  }
  .scheme .scheme__cr {
    margin-bottom: 0px;
  }
  .skltn .skltn__dbl .skltn-dbl__prt {
    width: calc(50% - 17.5px);
  }
  .bk.bk_pills .bk__pan {
    background-size: 32%;
  }
  .bk.bk_chemical .bk__pan {
    background-size: 45%;
  }
  .scheme__grh_nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .scheme__nav {
    width: 100%;
    max-width: 350px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .search .search__btn {
    width: 150px;
  }
  .map-container__map {
    position: relative;
    margin-top: 10px;
    bottom: -40px;
  }
  .container {
    padding: 40px 60px 40px;
  }
  .back {
    max-width: calc(100% - 80px);
    margin: 0 auto;
  }
  .inside-wrapper {
    max-width: calc(100% - 80px);
  }
  .pnl .pnl__h {
    max-width: 100%;
    width: 100%;
  }
  .pnl.pnl_brn,
  .pnl.pnl_girl {
    background-position: 150% center;
    background-size: 50%;
  }
  .pnl {
    padding: 20px 25px 15px;
  }
  .scheme .scheme__srch {
    margin: 0 -8px;
    width: 50px;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .b404 {
    background-position: calc(100% + 130px) 100px;
    background-size: 90%;
  }
}

@media (max-width: 768px) {
  .scheme__grh_nav,
  .scheme__srch,
  .scheme__nav {
    display: none !important;
  }
  :root {
    font-size: 10px;
  }
  .brgr-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .scheme .scheme__grh {
    padding: 20px;
  }
  .scheme__mobmenu {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  .scheme .scheme__name {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  .skltn .skltn__dbl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skltn-dbl__prt {
    width: 100%;
  }
  .bk.bk_pills .bk__pan {
    background-size: 130px;
  }
  .bk.bk_chemical .bk__pan {
    background-size: 180px;
  }
  .skltn .skltn__dbl .skltn-dbl__prt {
    width: 100%;
    margin-bottom: 35px;
  }
  .slide .slide__cnt {
    padding: 40px 40px 30px;
  }
  .slide .slide__btn {
    height: 40px;
    width: 140px;
  }
  .search {
    height: 48px;
  }
  .search .search__inp input {
    font-weight: 300;
  }
  .search .search__inp input::-webkit-input-placeholder {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
  }
  .search .search__inp input:-ms-input-placeholder {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
  }
  .search .search__inp input::-ms-input-placeholder {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
  }
  .search .search__inp input::placeholder {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
  }
  .search .search__btn {
    width: 114px;
  }
  .search .search__ic {
    padding: 0 10px;
  }
  .map-info__field {
    font-size: 22px;
  }
  .map-info .map-info__field + .map-info__field {
    margin-left: 34px;
  }
  .container {
    padding: 40px 40px 40px;
  }
  .map-info .map-info__bn {
    margin-top: 32px;
  }
  .map-container__map {
    left: -40px;
    right: -40px;
    width: calc(100% + 80px);
  }
  .map-info .map-info__hr {
    margin: 32px 0 0;
  }
  .map-info__bn.logo {
    margin-top: 0;
  }
  .map-info__bn.logo {
    height: 40px;
  }
  footer.scheme .scheme__cr {
    font-size: 13px;
    margin-left: 10px;
    line-height: 1.2em;
  }
  footer.scheme .scheme__grf {
    padding-right: 0;
  }
  .map-info p {
    line-height: 1.8rem;
    font-size: 1.725rem;
  }
  .addr {
    max-width: initial;
  }
  .slide {
    -o-object-position: 50%;
       object-position: 50%;
  }
  .mosaic .mosaic__tab {
    width: calc(50% - var(--padding-mosaic-offset)/2);
    max-width: 50%;
  }
  .mosaic .mosaic__tab.active {
    max-height: 1000px;
  }
  .mosaic .mosaic__tab.active .mosaic-tab__wr {
    width: calc(200% + var(--padding-mosaic-offset));
  }
  .mosaic .mosaic__tab.active:nth-child(3n + 2) .mosaic-tab__wr {
    margin-left: 0%;
  }
  .mosaic .mosaic__tab.active:nth-child(3n + 3) .mosaic-tab__wr {
    margin-left: 0%;
  }
  .mosaic .mosaic__tab.active:nth-child(2n + 2) .mosaic-tab__wr {
    margin-left: calc(-100% - var(--padding-mosaic-offset));
  }
  .mosaic .mosaic__tab .mosaic-tab__wr {
    width: 100%;
  }
  .pnl {
    font-size: 1.4rem;
  }
  .pnl .pnl__hf {
    padding-bottom: 10px;
  }
  .pnl.pnl_brn,
  .pnl.pnl_girl {
    background-position: 150% center;
    background-size: 50%;
  }
  .pnl + .pnl {
    margin-top: 0;
  }
  :root {
    --height-mosaic-tab-active: 420px;
    --height-mosaic-tab: 200px;
  }
  .skltn .skltn__srch {
    height: 50px;
  }
  .skltn .skltn__os {
    margin-top: 15px;
  }
  .skltn .skltn__hr {
    margin: 25px 0 5px;
  }
  .p404 {
    font-size: 2rem;
  }
  .p404 .p404__btn {
    margin: 64px auto 0;
    width: 190px;
    height: 50px;
  }
  .page-404 .page-404__srch {
    margin-top: 245px;
  }
  .b404 {
    background-position: center 70%;
    background-size: 560px;
  }
}

@media (max-width: 580px) {
  :root {
    --height-mosaic-tab: 150px;
  }
  footer.scheme {
    height: 143px;
  }
  footer.scheme .scheme__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }
  footer.scheme .scheme__grf.scheme__grh_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 18px 0;
    width: 100%;
    border-bottom: 1px solid var(--color-background-gray);
  }
  footer.scheme .scheme__cr {
    font-size: 12px;
    line-height: 20px;
    margin-left: 0;
    margin-top: 9px;
  }
  body {
    padding-bottom: 143px;
  }
  .mosaic .mosaic__tab {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
  }
  .mosaic .mosaic__tab.active {
    padding-bottom: 0 !important;
  }
  .mosaic .mosaic__tab.active .mosaic-tab__wr {
    bottom: 0;
    top: var(--padding-mosaic-offset);
    height: initial;
  }
  .mosaic .mosaic__tab.active:nth-child(2n + 2) .mosaic-tab__wr {
    margin-left: 0%;
  }
  .mosaic .mosaic__tab .mosaic-tab__wr {
    width: 100% !important;
  }
  .pnl {
    padding: 15px 32px 15px;
  }
  .pnl .pnl__hf {
    white-space: normal;
  }
  .pnl .pnl__hf .pnl__h {
    padding-right: 10px;
  }
  .pnl .pnl__hf, .pnl .pnl__h {
    text-align: center;
    line-height: 1.125em;
  }
  .pnl .pnl__h {
    max-width: 240px;
    margin: 0 auto;
  }
  .pnl .pnl__cls {
    margin-top: auto;
    margin-bottom: auto;
    width: 20px;
    height: 20px;
  }
  .pnl .pnl__ul {
    margin-bottom: -13px;
  }
  .pnl .pnl__ul .pnl-ul__li {
    line-height: 1.2em;
    margin-bottom: 17px;
    max-width: 100%;
  }
  .pnl .pnl__f {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pnl .pnl__f span + span {
    margin-top: 10px;
    margin-left: 0;
  }
  .pnl.pnl_brn, .pnl.pnl_girl {
    background-position: calc(100% + var(--height-mosaic-tab)/4.2) center;
    background-size: calc(var(--height-mosaic-tab) / 1.5);
  }
  .skltn .skltn__os {
    margin-top: 15px;
  }
  .skltn .skltn__hr {
    margin: 30px 0 5px;
  }
  .skltn .skltn__srch {
    height: 40px;
    padding: 10px 0;
  }
  .skltn .skltn__srch .search__btn {
    width: 95px;
  }
  .skltn .skltn__srch .search__ic {
    display: none;
  }
  .skltn .skltn__srch .search__btn {
    height: 40px;
  }
  .skltn .skltn__tlt {
    text-align: center;
  }
  input[type=search]::-webkit-search-cancel-button {
    height: 13px;
    width: 13px;
    right: -10px;
  }
  .b404 {
    background-position: center 65%;
    background-size: 560px;
  }
  .p404__tlt {
    max-width: 190px;
  }
}

@media (max-width: 520px) {
  .back {
    display: none !important;
  }
  .inside-wrapper {
    max-width: calc(100% - 40px);
  }
  .map-info__bn.logo {
    height: 33px;
  }
  .map-info .map-info__field + .map-info__field {
    margin-left: 0;
  }
  .main-wrapper {
    max-width: calc(100% - 40px);
  }
  .skltn {
    padding-bottom: 30px;
  }
  .skltn .skltn__dbl,
  .skltn .skltn__bn {
    margin-top: 20px;
  }
  .skltn .skltn__dbl .skltn-dbl__prt {
    margin-bottom: 20px;
  }
  .swiper {
    margin: 0 -20px;
    width: calc(100% + 40px);
  }
  .scheme .scheme__grh {
    padding: 17.5px 20px;
  }
  .scheme .scheme__name {
    width: 90px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .scheme .scheme__wrapper {
    max-width: 100%;
  }
  .scheme__mobmenu {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .logo {
    height: 20px;
    line-height: 6.83px;
    font-size: 7px;
  }
  .logo .logo__txt span + span {
    margin-top: 1.2px;
  }
  header {
    height: 55px;
  }
  body {
    padding-top: 55px;
  }
  .btn .btn__bow {
    width: 31px;
    height: 31px;
  }
  .btn .btn__bow::after {
    right: -6px;
  }
  .bk {
    padding-bottom: 260px;
  }
  .bk .bk__btn {
    margin-top: 8px;
  }
  .bk .bk__svg {
    bottom: -60px;
    width: 210px;
  }
  .bk.bk_pills .bk__pan {
    padding: 20px;
    background-size: 120px;
    background-position: calc(100% - 20px) calc(100% - 20px);
  }
  .bk.bk_chemical .bk__pan {
    padding: 20px;
    background-size: 140px;
    background-position: calc(100% - 20px) calc(100% - 20px);
  }
  .map-info__bn.compact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map-info__field {
    height: 42px;
  }
  .map-info__field + .map-info__field {
    margin-top: 30px;
  }
  .map-info__field > a {
    margin-top: 20px;
  }
  .container {
    padding: 20px 20px 40px;
  }
  .map-container__map {
    left: -20px;
    right: -20px;
    width: calc(100% + 40px);
  }
  .page-404 .page-404__srch {
    margin-top: 250px;
  }
  .p404 .p404__btn {
    margin: 34px auto 0;
    height: 40px;
  }
  .p404__txt {
    max-width: 300px;
  }
  .goup {
    width: 66px;
    right: 20px !important;
  }
  .swiper {
    padding-bottom: 420px;
  }
}

@media (max-width: 375px) {
  .addr {
    height: 40px;
    margin: 20px auto 0;
    font-size: 13px;
  }
  .scheme .scheme__grh {
    padding: 17.5px 11px;
  }
  .main-wrapper {
    max-width: calc(100% - 40px);
  }
  .logo .logo__txt {
    display: none;
  }
  .swiper {
    overflow: hidden;
    width: calc(100% + 40px);
    max-width: calc(100% + 40px) !important;
  }
}
/*# sourceMappingURL=media.css.map */