table {
    
}
.tbl {
    width: 100%;

    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2rem;

    text-align: center;

    color: var(--color-text-main);

    .tbl__hrd {
        background-color: #f4fbff;

        &.tbl__hrd_saturat {
            background: #e8f4fb;
        }
    }

    .tbl__txt-l {
        text-align: left !important;
    }
    .tbl__txt-t {
        vertical-align: top;
        padding-top: 26px;
    }
    .tbl__txt-b {
        font-weight: 500;
    }

    td {
        border: 1px solid rgba(169, 202, 221, 0.46);
        text-align: center;
        padding: 16px 20px 14px;
        vertical-align: middle;
    
        span {
            display: inline-block;
            min-width: 60px;
            font-size: .875em;
            line-height: 1.4em;  
            color: var(--color-text-air);
            vertical-align: text-bottom;
        }
    }

    &:not(.tbl_setoffset) {
        tr:nth-child(2n + 1) > td {
            background-color: #f4fbff;
        }
    }

    &.tbl_setoffset {
        tr:nth-child(2n + 6) > td {
            background-color: #f4fbff;
        }
    }

    &.tbl_textleft {
        text-align: left;
    }
}
