.tbl, 
.artcl table {
    width: 100%;
    min-width: 870px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4em;
    text-align: center;
    color: var(--color-text-main);

    b,
    strong {
        font-weight: 500;
    }

    td {
        border: 1px solid rgba(169, 202, 221, 0.46);
        text-align: center;
        padding: 16px 20px 14px;
        vertical-align: middle;
        max-width: 190px;
    
        i {
            display: inline-block;
            min-width: 60px;
            font-size: .875em;
            font-style: normal;
            line-height: 1.4em;  
            color: var(--color-text-air);
            vertical-align: text-bottom;
        }

        &:first-child {
            text-align: left !important;
        }
    }
    
    th {
        background-color: #f4fbff;
    }

    thead {
        tr {
            background-color: #f4fbff;
        }

        td {
            &[rowspan="4"],
            &[rowspan="5"],
            &[rowspan="6"],
            &[rowspan="7"] {
                vertical-align: top;
                padding-top: 26px;
            }
        }
    }
    
    tbody tr:nth-child(2n) {
        background-color: #f4fbff;
    }
}
