<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="css/table.css">
</head>
<body>
    <header  role="banner" class="scheme">
        <div class="scheme__wrapper main-wrapper">
            <div class="scheme__grh">
                <a class="scheme__name" href="#">
                    <img src="img/svg/СТМ.svg" alt="СТМ-портал"/>
                </a>
            </div>
            <div class="scheme__grh">
                <ul class="scheme__nav nav">
                    <li data-name="Препараты"><a href="#"><span>Препараты</span></a></li>
                    <li data-name="Компоненты"><a href="#"><span>Компоненты</span></a></li>
                    <li data-name="Контакты"><a href="#"><span>Контакты</span></a></li>
                </ul>
            </div>
            <div class="scheme__grh scheme__grh_side">
                <a class="logo" href="#">
                    <div class="logo__img">
                        <img src="img/svg/WTF.svg" alt="#">
                    </div>
                    <div class="logo__txt">
                        <span>Качество</span>
                        <span>Технологичность</span>
                        <span>Эффективность</span>
                    </div>
                </a>
            </div>
            <div class="scheme__grh">
                <button class="btn size-c center-center search-target" data-search-target="searchline">
                    <span class="size-a i i_srch_bl"></span>
                </spbuttonan>
            </div>
        </div>
    </header>

    <main class="skltn main-wrapper">
        <div class="skltn__bn">

        </div>
        <div class="skltn__bn">
            <table class="tbl tbl_textleft">
                <tr>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Название</td>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Железо + В12</td>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Феррогематоген</td>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Гематоген Русский детский</td>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Гематоген Народный "Детский</td>
                </tr>
                <tr>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Производитель</td>
                    <td style="max-width:190px" class="tbl__txt-l">Фармстандарт</td>
                    <td style="max-width:190px" class="tbl__txt-l">Внешторг фарма</td>
                    <td style="max-width:190px" class="tbl__txt-l">Фарм-Про</td>
                    <td style="max-width:190px" class="tbl__txt-l">ООО "Сибирское здоровье 2000"</td>
                </tr>
                <tr>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Страна производства</td>
                    <td style="max-width:190px" class="tbl__txt-l">Россия</td>
                    <td style="max-width:190px" class="tbl__txt-l">Россия</td>
                    <td style="max-width:190px" class="tbl__txt-l">Россия</td>
                    <td style="max-width:190px" class="tbl__txt-l">Россия</td>
                </tr>
                <tr>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Форма выпуска</td>
                    <td style="max-width:190px" class="tbl__txt-l">таблетки в форме мишек</td>
                    <td style="max-width:190px" class="tbl__txt-l">плитка, массой 50 г, деленная на дольки</td>
                    <td style="max-width:190px" class="tbl__txt-l">плитка, массой 40 г</td>
                    <td style="max-width:190px" class="tbl__txt-l">плитка, массой 40 г</td>
                </tr>
                <tr>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Суточная доза</td>
                    <td style="max-width:190px" class="tbl__txt-l">Детям 3-11 лет по 2 таб, Детям 11-18 лет: Девочкам по 3 таб, Мальчикам по 4 таб</td>
                    <td style="max-width:190px" class="tbl__txt-l">Детям — по 1–2 дольки плитки (8,3 г) 2–3 раза/сут</td>
                    <td style="max-width:190px" class="tbl__txt-l">Детям 3 -7 лет по 20 г в день, детям 7-14 лет - по 40 г в день, детям старше 14 лет и взрослым - по 50 г в день</td>
                    <td style="max-width:190px" class="tbl__txt-l">Детям 3-6 лет - по 30 г, детям с 7 лет по 40 г в день, взрослым - по 50 г в день во время еды</td>
                </tr>
                <tr>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Курс</td>
                    <td style="max-width:190px" class="tbl__txt-l">1 месяц</td>
                    <td style="max-width:190px" class="tbl__txt-l">1-2 месяцa</td>
                    <td style="max-width:190px" class="tbl__txt-l">–</td>
                    <td style="max-width:190px" class="tbl__txt-l">3-4 недели</td>
                </tr>
                <tr>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Срок годности</td>
                    <td style="max-width:190px" class="tbl__txt-l">24 месяца</td>
                    <td style="max-width:190px" class="tbl__txt-l">6 месяцев</td>
                    <td style="max-width:190px" class="tbl__txt-l">12 месяцев</td>
                    <td style="max-width:190px" class="tbl__txt-l">12 месяцев</td>
                </tr>
                <tr>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Возрастная категория</td>
                    <td style="max-width:190px" class="tbl__txt-l">дети с 3 до 18 лет</td>
                    <td style="max-width:190px" class="tbl__txt-l">дети</td>
                    <td style="max-width:190px" class="tbl__txt-l">дети с 3х лет</td>
                    <td style="max-width:190px" class="tbl__txt-l">дети с 3х лет</td>
                </tr>
                <tr>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Витамин А, мг</td>
                    <td style="max-width:190px" class="tbl__txt-l">0,25</td>
                    <td style="max-width:190px" class="tbl__txt-l">–</td>
                    <td style="max-width:190px" class="tbl__txt-l">–</td>
                    <td style="max-width:190px" class="tbl__txt-l">–</td>
                </tr>
                <tr>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Витамин В1, мг</td>
                    <td style="max-width:190px" class="tbl__txt-l">–</td>
                    <td style="max-width:190px" class="tbl__txt-l">2</td>
                    <td style="max-width:190px" class="tbl__txt-l">–</td>
                    <td style="max-width:190px" class="tbl__txt-l">–</td>
                </tr>
                <tr>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Витамин В9, мг</td>
                    <td style="max-width:190px" class="tbl__txt-l">–</td>
                    <td style="max-width:190px" class="tbl__txt-l">0,1</td>
                    <td style="max-width:190px" class="tbl__txt-l">–</td>
                    <td style="max-width:190px" class="tbl__txt-l">–</td>
                </tr>
                <tr>
                    <td style="max-width:190px" class="tbl__txt-b tbl__txt-l">Витамин В12, мкг</td>
                    <td style="max-width:190px" class="tbl__txt-l">0,7</td>
                    <td style="max-width:190px" class="tbl__txt-l">–</td>
                    <td style="max-width:190px" class="tbl__txt-l">–</td>
                    <td style="max-width:190px" class="tbl__txt-l">–</td>
                </tr>
            </table>
        </div>
        <div class="skltn__bn">

        </div>
    </main>

    <footer role="contentinfo"> class="scheme">
        <div class="scheme__wrapper main-wrapper">
            <div class="scheme__grf scheme__grh_bottom">
                <a class="logo" href="#">
                    <div class="logo__img">
                        <img src="img/svg/WTF-grayscale.svg" alt="#">
                    </div>
                </a>
                <p class="scheme__cr">© 2010-2020, СТМ - портал, ООО ВТФ</p>
            </div>
            <div class="scheme__grf scheme__grh_side scheme__grh_bottom">
                <a class="logo" href="#">
                    <div class="logo__img">
                        <img src="img/svg/flat12.svg" alt="#">
                    </div>
                </a>
            </div>
        </div>
    </footer>

</body>
</html>
<script src="scripts/swiper.min.js"></script>
<script src="scripts/common.js"></script>